#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
	keymap {
		compatible = "zmk,keymap";

	/* Base layer */
	BASE {
		display-name = "Base";
			bindings = <
			&none			&kp Q  			&kp W  			&kp F  			&kp P  			&kp B       	&kp J  			&kp L  			&kp U  			&kp Y  			&kp SQT  		&none
			&none  			&u_mt LGUI A  	&u_mt LALT R  	&u_mt LCTRL S  	&u_mt LSHFT T  	&kp G       	&kp M  			&u_mt LSHFT N  	&u_mt LCTRL E  	&u_mt LALT I  	&u_mt LGUI O  	&none
			&none  			&u_lt 3 Z  		&u_mt RALT X  	&kp C  			&kp D  			&kp V       	&kp K  			&kp H  			&kp COMMA  		&u_mt RALT DOT  &u_lt 3 SLASH  	&none
															&u_lt 6 ESC  	&u_lt 4 SPACE  	&u_lt 5 TAB    	&u_lt 8 RET  	&u_lt 7 BSPC  	&u_lt 9 DEL
			>;
		};

	/* Extra layer */
	EXTRA {
		display-name = "Extra";
			bindings = <
			&none 			&kp Q  			&kp W  			&kp E  			&kp R  			&kp T       	&kp Y  			&kp U  			&kp I  			&kp O  			&kp P  			&none
			&none 			&u_mt LGUI A  	&u_mt LALT S  	&u_mt LCTRL D  	&u_mt LSHFT F  	&kp G       	&kp H  			&u_mt LSHFT J  	&u_mt LCTRL K  	&u_mt LALT L  	&u_mt LGUI SQT  &none
			&none 			&u_lt 3 Z  		&u_mt RALT X  	&kp C  			&kp V  			&kp B    		&kp N  			&kp M  			&kp COMMA  		&u_mt RALT DOT  &u_lt 3 SLASH  	&none
															&u_lt 6	ESC  	&u_lt 4 SPACE  	&u_lt 5 TAB     &u_lt 8 RET  	&u_lt 7 BSPC  	&u_lt 9 DEL
			>;
		};

	/* Tap layer */
	TAP {
		display-name    = "Tap";
		bindings       = <
			&none  			&kp Q  			&kp W  			&kp F  			&kp         	&kp B       	&kp J  			&kp L  			&kp U  			&kp Y  			&kp SQT  		&none
			&none			&kp A  			&kp R  			&kp S  			&kp T			&kp G       	&kp M  			&kp N  			&kp E  			&kp I  			&kp O  			&none
			&none			&kp Z  			&kp X  			&kp C  			&kp D			&kp V       	&kp K  			&kp H  			&kp COMMA  		&kp DOT  		&kp SLASH  		&none
															&kp ESC  		&kp SPACE  		&kp TAB       	&kp RET  		&kp BSPC  		&kp DEL
			>;
		};

	/* Button layer */
	BUTTON {
		display-name   = "Button";
		bindings       = <
			&none			&kp LG(Z)  		&kp LG(X)  		&kp LG(C)		&kp LG(V)  		&kp LS(LG(Z))	&kp LS(LG(Z))  	&kp LG(V)  		&kp LG(C)  		&kp LG(X)  		&kp LG(Z)  		&none
			&none  			&kp LGUI  		&kp LALT  		&kp LCTRL  		&kp LSHFT  		&none       	&none  			&kp LSHFT  		&kp LCTRL  		&kp LALT  		&kp LGUI  		&none
			&none  			&kp LG(Z)  		&kp LG(X)  		&kp LG(C)  		&kp LG(V)  		&kp LS(LG(Z))   &kp LS(LG(Z))  	&kp LG(V)  		&kp LG(C)  		&kp LG(X)  		&kp LG(Z)  		&none
															&mkp MB3  		&mkp MB1  		&mkp MB2       	&mkp MB2  		&mkp MB1  		&mkp MB3
			>;
		};

	/* Navigation layer */
	NAV {
		display-name   = "Nav";
		bindings       = <
			&none  			&bootloader  	&u_to_U_TAP  	&u_to_U_EXTRA  	&u_to_U_BASE  	&studio_unlock	&kp LS(LG(Z))  	&kp LG(V)  		&kp LG(C)  		&kp LG(X)  		&kp LG(Z)  		&none
			&none  			&kp LGUI  		&kp LALT  		&kp LCTRL  		&kp LSHFT  		&none       	&u_caps_word  	&kp LEFT  		&kp DOWN  		&kp UP  		&kp RIGHT  		&none
			&none  			&none  			&kp RALT  		&u_to_U_NUM  	&u_to_U_NAV  	&none       	&kp INS  		&kp HOME  		&kp PG_DN  		&kp PG_UP  		&kp END  		&none
															&none  			&none  			&none       	&kp RET  		&kp BSPC  		&kp DEL
			>;
		};

	/* Mouse layer */
	MOUSE {
		display-name   = "Mouse";
		bindings       = <
			&none  			&bootloader  	&u_to_U_TAP  	&u_to_U_EXTRA 	&u_to_U_BASE  	&studio_unlock	&kp LS(LG(Z))  	&kp LG(V)  		&kp LG(C)  		&kp LG(X)  		&kp LG(Z)  		&none
			&none  			&kp LGUI  		&kp LALT  		&kp LCTRL  		&kp LSHFT  		&none       	&none  			&kp KP_N4  		&kp KP_N2  		&kp KP_N8  		&kp KP_N6  		&none
			&none  			&none  			&kp RALT  		&u_to_U_SYM  	&u_to_U_MOUSE  	&none       	&none  			&none  			&none  			&none  			&none  			&none
															&none  			&none 			&none       	&mkp MB2  		&mkp MB1  		&mkp MB3
			>;
		};

	/* Media layer */
	MEDIA {
		display-name   = "Media";
		bindings       = <
			&none  			&bootloader  	&u_to_U_TAP  	&u_to_U_EXTRA  	&u_to_U_BASE  	&studio_unlock	&rgb_ug RGB_TOG	&rgb_ug RGB_EFF &rgb_ug RGB_HUI	&rgb_ug RGB_SAI	&rgb_ug RGB_BRI	&none
			&none  			&kp LGUI  		&kp LALT  		&kp LCTRL  		&kp LSHFT  		&none       	&ext_power EP_TOG  &kp C_PREV  	&kp C_VOL_DN  	&kp C_VOL_UP  	&kp C_NEXT  	&none
			&none  			&none  			&kp RALT  		&u_to_U_FUN  	&u_to_U_MEDIA  	&none       	&u_out_tog  	&u_bt_sel_0  	&u_bt_sel_1  	&u_bt_sel_2  	&u_bt_sel_3  	&none
															&none  			&none  			&none       	&kp C_STOP  	&kp C_PP  		&kp C_MUTE
			>;
		};

	/* Number layer */
	NUM {
		display-name   = "Num";
		bindings       = <
			&none  			&kp LBKT 		&kp N7  		&kp N8  		&kp N9  		&kp RBKT       	&none  			&u_to_U_BASE	&u_to_U_EXTRA  	&u_to_U_TAP  	&bootloader  	&none
			&none  			&kp SEMI 		&kp N4  		&kp N5  		&kp N6  		&kp EQUAL      	&none 			&kp LSHFT  		&kp LCTRL  		&kp LALT  		&kp LGUI  		&none
			&none  			&kp GRAVE		&kp N1  		&kp N2  		&kp N3  		&kp BSLH       	&none  			&u_to_U_NUM 	&u_to_U_NAV  	&kp RALT  		&none  			&none
															&kp DOT  		&kp N0  		&kp MINUS       &none  			&none  			&none
			>;
		};

	/* Symbol layer */
	SYM {
		display-name   = "Sym";
		bindings       = <
			&none  			&kp LBRC 		&kp AMPS 		&kp ASTRK  		&kp LPAR  		&kp RBRC       	&studio_unlock  &u_to_U_BASE  	&u_to_U_EXTRA  	&u_to_U_TAP  	&bootloader  	&none
			&none  			&kp COLON		&kp DLLR		&kp PRCNT  		&kp CARET 		&kp PLUS       	&none  			&kp LSHFT  		&kp LCTRL  		&kp LALT  		&kp LGUI  		&none
			&none  			&kp TILDE		&kp EXCL		&kp AT  		&kp HASH  		&kp PIPE       	&none  			&u_to_U_SYM  	&u_to_U_MOUSE  	&kp RALT  		&none  			&none
															&kp LPAR  		&kp RPAR  		&kp UNDER       &none  			&none  			&none
			>;
		};
	
	/* Function layer */
	FUN {
		display-name   = "Fun";
		bindings       = <
			&none  			&kp F12  		&kp F7  		&kp F8  		&kp F9  		&kp PSCRN     	&studio_unlock  &u_to_U_BASE  	&u_to_U_EXTRA  	&u_to_U_TAP  	&bootloader  	&none
			&none  			&kp F11  		&kp F4  		&kp F5  		&kp F6  		&kp SLCK      	&none  			&kp LSHFT  		&kp LCTRL  		&kp LALT  		&kp LGUI  		&none
			&none  			&kp F10  		&kp F1  		&kp F2  		&kp F3  		&kp PAUSE_BREAK	&none  			&u_to_U_FUN  	&u_to_U_MEDIA  	&kp RALT  		&none  			&none
															&kp K_APP  		&kp SPACE  		&kp TAB       	&none  			&none  			&none
			>;
		};
	};
};

/ {
	macros {
		/* Macro to select Bluetooth device 0 */
		u_macro_u_bt_sel_0: u_macro_u_bt_sel_0 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			bindings = <&bt BT_SEL 0 &bt BT_CLR>;
		};	

		/* Macro to select Bluetooth device 1 */
		u_macro_u_bt_sel_1: u_macro_u_bt_sel_1 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			bindings = <&bt BT_SEL 1 &bt BT_CLR>;
		};	

		/* Macro to select Bluetooth device 2 */
		u_macro_u_bt_sel_2: u_macro_u_bt_sel_2 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			bindings = <&bt BT_SEL 2 &bt BT_CLR>;
		};	

		/* Macro to select Bluetooth device 3 */
		u_macro_u_bt_sel_3: u_macro_u_bt_sel_3 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			bindings = <&bt BT_SEL 3 &bt BT_CLR>;
		};	

		/* Macro to select Bluetooth device 4 */
		u_macro_u_bt_sel_4: u_macro_u_bt_sel_4 {
			compatible = "zmk,behavior-macro";
			#binding-cells = <0>;
			wait-ms = <0>;
			bindings = <&bt BT_SEL 4 &bt BT_CLR>;
		};
	};
};

/ {
	behaviors {
		/* Behavior to toggle Bluetooth device 0 */
		u_bt_sel_0: u_bt_sel_0 {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 0>, <&u_macro_u_bt_sel_0>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle Bluetooth device 1 */
		u_bt_sel_1: u_bt_sel_1 {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 1>, <&u_macro_u_bt_sel_1>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle Bluetooth device 2 */
		u_bt_sel_2: u_bt_sel_2 {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 2>, <&u_macro_u_bt_sel_2>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle Bluetooth device 3 */
		u_bt_sel_3: u_bt_sel_3 {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 3>, <&u_macro_u_bt_sel_3>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle Bluetooth device 4 */
		u_bt_sel_4: u_bt_sel_4 {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&bt BT_SEL 4>, <&u_macro_u_bt_sel_4>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle output */
		u_out_tog: u_out_tog {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&out OUT_TOG>, <&out OUT_USB>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to toggle Caps Lock word */
		u_caps_word: u_caps_word {
			compatible = "zmk,behavior-mod-morph";
			#binding-cells = <0>;
			bindings = <&caps_word>, <&kp CAPS>;
			mods = <(MOD_LSFT|MOD_RSFT)>;
		};

		/* Behavior to tap-dance to Base layer */
		u_to_U_BASE: u_to_U_BASE {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 0>;
		};

		/* Behavior to tap-dance to Extra layer */
		u_to_U_EXTRA: u_to_U_EXTRA {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 1>;
		};

		/* Behavior to tap-dance to Tap layer */
		u_to_U_TAP: u_to_U_TAP {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 2>;
		};

		/* Behavior to tap-dance to Button layer */
		u_to_U_BUTTON: u_to_U_BUTTON {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 3>;
		};

		/* Behavior to tap-dance to Navigation layer */
		u_to_U_NAV: u_to_U_NAV {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 4>;
		};

		/* Behavior to tap-dance to Mouse layer */
		u_to_U_MOUSE: u_to_U_MOUSE {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 5>;
		};

		/* Behavior to tap-dance to Media layer */
		u_to_U_MEDIA: u_to_U_MEDIA {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 6>;
		};

		/* Behavior to tap-dance to Number layer */
		u_to_U_NUM: u_to_U_NUM {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 7>;
		};

		/* Behavior to tap-dance to Symbol layer */
		u_to_U_SYM: u_to_U_SYM {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 8>;
		};

		/* Behavior to tap-dance to Function layer */
		u_to_U_FUN: u_to_U_FUN {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&none>, <&to 9>;
		};
	};
};