if SHIELD_SPLIT_DONGLE

config ZMK_KEYBOARD_NAME
    default "36KEY_SPLIT"

#config ZMK_SPLIT_BLE_ROLE_CENTRAL
config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_USB
    default y

endif

if SHIELD_36KEY_SPLIT_LEFT || SHIELD_36KEY_SPLIT_RIGHT || SHIELD_SPLIT_DONGLE

config ZMK_SPLIT
    default y

config ZMK_BLE
    default y

endif

