/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "36key_split.overlay"
#include "36key_split_left.overlay"
#include "36key_split_right.overlay"

/ {
   chosen {
       zmk,kscan = &mock_kscan;

   };

    mock_kscan: kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };
};

